* {
  overflow-x: hidden;
  box-shadow: none;
}

a {
  padding-inline: 7px;
}

.m {

  padding-left: 7px;
  
}

.b {
  object-fit: cover;
  object-position: bottom;

}

body {
  background: white;
}

.n {
  border-bottom: 1px solid #202023
}