* {
  overflow-x: hidden;
  box-shadow: none;
}

a {
  padding-inline: 7px;
}

.m {

  padding-left: 7px;
  
}

.b {
  object-fit: cover;
  object-position: bottom;

}

body {
  padding: 0; 
  margin: 0;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, sans-serif;

}

.n {
  border-bottom: 1px solid #202023
}

